.header--blog {
	background-image: none!important;
	background-color: #ef3e42;

	#particles-js {
		position: fixed;
	}
}

.container--no-height {
	height: auto!important;
}

.container--blog {
	background-color: #fff;
    box-shadow: 0 0 23px 0 rgba(0,0,0,.18);
    margin: 50px auto;
    padding: 60px;
    color: #000;
    position: relative;
}

.post__title {
	font-family: 'Staatliches', cursive;
	font-size: 50px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 5px solid #000;
}

.post__title--smaller {
	font-family: 'Staatliches', cursive;
	font-size: 35px;
	margin: 50px 0 15px;
}

.post {
	font-size: 15px;
	margin-top: 40px;

	p {
		line-height: 1.5;
	}

	a {
		color: #ef3e42;
		word-break: break-word;
	}

	img {
		margin-top: 30px;
	}
}

.post__text--margin {
	margin-top: 20px;
}

.post__img--margin {
	margin-top: 10px!important;
}

.post__img--lunch {
	height: 520px;
}

.post__text--caption {
	margin-top: 8px;
	text-align: center;
}

.booking-1 {
	margin-top: 50px;
	display: block;
}

.booking-review {
	margin-top: 6px;
	display: block;
}

.booking-banner {
	margin: 20px 0;
	display: block;
}

.booking-banner--tablet, .booking-banner--mobile {
	display: none;
}

@media (max-width: 1310px) {
	.post__day6 {
		.col-6 {
			width: 100%;
		}
	}

	.post__img--full {
		width: 100%;
		height: auto;
		object-position: center;

		&:last-of-type {
			margin-top: 10px;
		}
	}
}

@media (max-width: 1100px) {
	.container--blog {
		padding: 60px 35px;
	}
}

@media (max-width: 900px) {
	.col-4, .col-8 {
		width: 100%;
	}

	.booking-banner--desktop {
		display: none;
	}

	.booking-banner--tablet {
		display: block;
	}
}

@media (max-width: 767px) {
	.container--blog {
		padding: 60px 20px;
	}

	.post__links {
		a {
			margin-bottom: 10px;
			display: inline-block;
		}
	}

	.booking-banner--tablet {
		display: none;
	}

	.booking-banner--mobile {
		display: block;
	}
}