picture {
  display: flex;
}

.MuiListSubheader-root {
  background-color: transparent !important;
  color: #fff !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  padding: 0 !important;
  position: relative !important;
}
